input,textarea,label {
  outline: none;
  border: none;
}
/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}
/*//////////////////////////////////////////////////////////////////
*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-auth-form {
  width: 80%;
  min-height: 80vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.wrap-auth-form {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}
.register-{
    text-align: center;
    color: #333333;
}
.quest-text{
    color: #333333;
    margin-top: 5%;
    text-align: center;
}
.quest-text a{
    text-decoration: none !important;
    font-weight: bolder;
    color: inherit;
}

/*==================================================================
  [ login more ]*/
.auth-form-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 18%,
      rgba(0, 0, 0, 0.8) 99%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../../assets/img/register.jpg);
}

/*==================================================================
  [ Form ]*/

.auth-form-form {
  width: 560px;
  min-height: 80vh;
  display: block;
  background-color: #f8f9fa;
  padding: 80px 55px 55px 55px;
  margin: auto;
}

.auth-form-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-auth-form-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
    border-radius: 10px;
  margin-bottom: 10px;
}

.label-auth-form-input {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-form-input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.auth-form-input {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/

.focus-auth-form-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #333;;
  //   border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.auth-form-input:focus + .focus-auth-form-input {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.auth-form-input:focus {
  height: 48px;
}

.auth-form-input:focus + .focus-auth-form-input + .label-auth-form-input {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 48px !important;
}

.has-val + .focus-auth-form-input + .label-auth-form-input {
  top: 14px;
  font-size: 13px;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-auth-form-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.auth-form-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
    border-radius: 10px;
  background: #333333;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-form-form-btn:hover {
  background: black;
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 992px) {
  .auth-form-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .auth-form-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .auth-form-form {
    width: 100%;
  }

  .auth-form-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .auth-form-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}
.join-- {
  padding: 5%;
  font-size: 300%;
}
